/* You can add global styles to this file, and also import other style files
font-family: 'Coda Caption', sans-serif;
font-family: 'Play', sans-serif;

#faed26 - yellow
#46344e - purple
#5a5560 - greyish purple
#9d8d8f - grey
#9b786f - brown
*/

*{
  font-family: 'Play', sans-serif;
}
app-topbar{
  position: fixed;
  background: #fff;
  width: 100%;
  margin-top: -8px;
}
.login-form-holder{
  max-width: 50%;
  margin: auto;
  padding-top: 5%;
}
.ui.button, .ui.buttons{
  border-radius: 0;/*get rid of tose stupid-looking rounded buttons from semantic ui*/
}
.ui.segments:not(.horizontal)>.segment:first-child{
  border-radius: 0;
}

/*phones*/
@media (max-width:500px) {
  app-topbar{
    height: 10%;
    width: 100%;
  }
}