<div class="landing">
  <h1 class="ui header landing-main">Arena</h1>
  <h2 class="ui header landing-sub">All the news</h2>
</div>

<app-news-sport *ngFor="let sport of sports" [sport]="sport"></app-news-sport>















<!-- THIS IS GONE NOW
<div class="ui equal width grid">
  <div class="column">
    <div class="ui segment">
      <h2 class="section-heading">Results</h2>
      <app-results *ngFor="let sport of sports" [sport]="sport"></app-results>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui segment">
      <h2 class="section-heading">Fixtures</h2>
      <app-fixtures *ngFor="let sport of sports" [sport]="sport"></app-fixtures>
    </div>
  </div>
</div>
-->