<div class="header">
  <h1 class="header-sport-name">{{sport}}</h1>
  <h1 class="header-sport-name">{{sport}}</h1>
  <h1 class="header-sport-name">{{sport}}</h1>
  <h1 class="header-sport-name">{{sport}}</h1>
</div>
<div class="main">
  <div class="ui equal width grid">
    <div class="column">
        <h2 class="section-heading">Results</h2>
        <app-results [sport]="sport"></app-results>
    </div>
    <div class="eight wide column">
        <h2 class="section-heading">Fixtures</h2>
        <app-fixtures [sport]="sport"></app-fixtures>
      </div>
    </div>
</div>
<div class="comment"></div>