.main{
    display: inline-block;
    max-width: 80%;
    min-width: 69%;
    padding: 2%;
}
.comment{
    display: inline-block;
    float: right;
    max-width: 30%;
    min-width: 20%;
    height: 100vh;
    border-left: 2px solid #44344e;
}
.header{
    width: 100%;
    padding-top: 5%;
    text-align: center;
    background: #44344e;
}
.header-sport-name{
    padding-bottom: 1%;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: #faed23;
}