*{
    font-family: 'Play', sans-serif;
}
.top-header{
    width: 100%;
    height: 20vh;
    background: #46344e;
    text-align: center;
}
.top-header h1{
    font-size: 4.5em; 
    padding: 4.9%;
    color: #faed26;
    letter-spacing: 1.4em;
    text-transform: uppercase;
    margin-right: -6%;
}
.one-third.sport{
    width: 80%;
    height: 30vh;
    cursor: pointer;
    margin: 2% auto; 
    filter: grayscale(.6);
    border-bottom: 4px solid #faed26;
    overflow: hidden;
}
/*
.one-third.sport:nth-child(2){
    background: aquamarine;
    background-image: url('../../assets/hockey.jpg');
    background-position: center center;
}
.one-third.sport:nth-child(3){
    background: hotpink;
    background-image: url('../../assets/american.jpg');
    background-position: center center;
}*/

.one-third.sport.hockey .child{
    width: 100%;
    height: 100%;
    background: aquamarine;
    background-image: url('../../assets/hockey.jpg');
    background-position: center center;
    background-size: cover;
    transition: all .5s;
}
.one-third.sport.hockey:hover .child,
.one-third.sport.hockey:focus .child {
  transform: scale(1.1);
}

.one-third.sport.football .child{
    width: 100%;
    height: 100%;
    background: aquamarine;
    background-image: url('../../assets/american.jpg');
    background-position: center center;
    background-size: cover;
    transition: all .5s;
}
.one-third.sport.football:hover .child,
.one-third.sport.football:focus .child {
  transform: scale(1.1);
}

.one-third.sport h1{
    font-size: 9em;
    text-transform: uppercase;
    text-align: center;
}
h1.soccer{
    padding-top: 5%;
    padding-bottom: 5%;
}
h1:nth-child(1){
    margin-top: 0;
    line-height: 0.7;
}


@media (max-width:500px) {
    .top-header{
        height: 10%;
    }
    .top-header h1{
        display: none;
    }
    .one-third.sport h1{
        font-size: 3em;
        margin: auto;
        color: #faed26;
    }
    .one-third.sport.football h1{
        padding-top: 20%;
        line-height: 1.2em;
    }
    .one-third.sport.hockey h1{
        padding-top: 30%;
        color: #46344e;
    }
}