<div class="ui secondary pointing menu">
  <div class="header item arena-head" [routerLink]="['/feed']">
    Arena
  </div>
  <a class="active item" *ngIf="router.url === '/feed'" [routerLink]="['/feed']">
    Feed
  </a>
  <a class="item" *ngIf="router.url != '/feed'" [routerLink]="['/feed']">
    Feed
  </a>
  <a class="active item" *ngIf="router.url === '/sport'" [routerLink]="['/sport']">
    Sports
  </a>
  <a class="item" *ngIf="router.url != '/sport'" [routerLink]="['/sport']">
    Sports
  </a>
  <a class="active item" *ngIf="router.url === '/user'" [routerLink]="['/user']">
    My Page
  </a>
  <a class="item" *ngIf="router.url != '/user'" [routerLink]="['/user']">
    My Page
  </a>
  <div class="right menu">
    <a class="ui item" *ngIf="user == null" [routerLink]="['/login']">
      Login
    </a>
    <p *ngIf="user != null">Logout</p>
  </div>
</div>
